@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}


.lat{
    display: inline;
}
.long{
    display: inline;
    position: absolute;
    left: 50%;
}
.box{
    padding: 35px;
    background-color: white;
    color: black;
    width: 100vw;
}

.cords{
    position: relative;
}
.data-box{
    border: 3px black solid;
    padding: 32px;
    margin-top: 22px;
}
.data-box p{
    font-size: large;
    margin-block: 15px;
}
.search-sec{
    margin: 32px;
}

button{
    width: 145px;
    height: 32px;
    cursor: pointer;
}
input{
    width: 92vw;
    display: block;
    margin-block: 11px;
    height: 32px;
    outline: none;
    background-color: black;
    border: white 0.5px solid 0.5;
    color: white;
}
.result{
    border: 2px white solid;
    background-color: black;
    color: white;
}
.result-box{
    margin: 40px;
}
.hide{
    display:none;
}

#error{
    text-align: center;
    color:darkred;
    font-size: large;
}
