@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#error{
    text-align: center;
    color: darkred
    font-size: large;
}
.hide{
    display:none;
}
body{
    background-color: black;
    color: white;
}

input{
    width: 90vw;
    display: block;
    margin-block: 12px;
    height: 32px;
    outline: none;
    background-color: black;
    border: white 0.5px solid 0.5;
    color: white;
}
.cords{
    position: relative;
}
.lat{
    display: inline;
}
.long{
    display: inline;
    position: absolute;
    left: 50%;
}
.box-data{
    border: 2px black solid;
    padding: 32px;
    margin-top: 22px;
}
.box-data p{
    font-size: large;
    margin-block: 14px;
}
.box{
    padding: 32px;
    background-color: white;
    color: black;
    width: 100vw;
}
.search-sec{
    margin: 30px;
}

button{
    width: 152px;
    height: 30px;
    cursor: pointer;
}
.result{
    border: 2px white solid;
    background-color: black;
    color: white;
}
.result-container{
    margin: 32px;
}
.hide{
    display:none;
}
